body {
  font-family: 'Montserrat', sans-serif;
  color: #f3f0d7;
}
h4 {
  margin-top: 30px;
  padding: 10px;
}
hr {
  text-align: center;
  border-style: solid;
  padding: 2px;
  margin-bottom: 30px 10px;;
}
ul {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
#city-input {
  display: inline;
  width: 40%;
  border-radius: 10px;
  box-shadow: none;
  font-size: 14px;
}
#current-location {
  font-size: 14px;
  border-radius: 10px;
}
#search {
  font-size: 14px;
  border-radius: 10px;
}
.imageTop {
  width: 192px;
  display: block;
  margin: 0 auto;
}
.col-7 {
  margin-top: 0;
  padding: 10px;
}
.imageBottom {
  width: 65px;
}
.col-2 {
  text-align: center;
}
}
.day {
  font-size: 14px;
  font-weight: bold;
}
.temp {
  font-size: 15px;
}
.frontDetails {
  padding: 0;
  margin-top: 25px;
}
#cityMain {
  font-size: 30px;
  margin-bottom: 5px;
}
#description {
  margin-top: 6px;
  margin-bottom: 7px;
}
#temp {
  font-size: 30px;
}
#dateMain {
  font-size: 22px;
}
.app {
  border: solid 2px;
  background: linear-gradient(0deg, rgb(17, 138, 114) 0%, rgb(5, 39, 71) 100%);
  border-color: #687980;
  border-radius: 10px;
  padding: 15px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  width: 35%;
}
.link {
  text-decoration: none;
}
.codeLink {
  font-size: 14px;
  margin-top: 0;
  margin-left: 20px;
}

.buttons {
  margin-left: 32px;
  margin-bottom: 15px;
}
.name {
  color: #3e4a61;
}
