body {
  font-family: "Montserrat", sans-serif;
  color: #f3f0d7;
}
h4 {
  margin-top: 30px;
  padding: 10px;
}
hr {
  text-align: center;
  border-style: solid;
  padding: 2px;
  margin: 0 10px;
}
ul {
  list-style: none;
  margin-bottom: 5px;
}
li:first-letter {
  text-transform: capitalize;
}
form {
  margin-top: 15px;
}
#city-input {
  display: inline;
  width: 40%;
  border-radius: 10px;
  box-shadow: none;
  font-size: 14px;
}
#current-location {
  font-size: 14px;
  border-radius: 10px;
}
#search {
  font-size: 14px;
  border-radius: 10px;
}
.imageTop {
  width: 186px;
  display: block;
  margin: 0 auto;
}
.col-7 {
  margin-top: 15px;
  padding: 10px;
}
#image-bottom {
  width: 65px;
}
.col-2 {
  text-align: center;
  padding-right: calc(var(--bs-gutter-x) * 0.2);
  padding-left: calc(var(--bs-gutter-x) * 0.2);
}
.col-2:hover {
  background-color: #1e7973;
}
#day {
  font-size: 15px;
  font-weight: bold;
}
#temp-forecast {
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 5px;
}
.frontDetails {
  padding: 0;
  margin-top: 30px;
}
#cityMain {
  font-size: 30px;
  margin-bottom: 2px;
}
#description {
  margin-top: 3px;
  margin-bottom: 7px;
  font-size: 15px;
}
#temp {
  font-size: 30px;
}
#dateMain {
  font-size: 18px;
}
.app {
  border: solid 2px;
  background: linear-gradient(0deg, rgb(30, 153, 126) 0%, rgb(17, 45, 78) 97%);
  border-color: #687980;
  border-radius: 10px;
  padding: 15px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  width: 34%;
}
.link {
  text-decoration: none;
}
.codeLink {
  font-size: 12px;
  margin-top: 0;
  margin-left: 20px;
  font-weight: bold;
}
.name {
  color: #3e4a61;
}
